<a href="https://colab.research.google.com/github/rabbi303/Python_Assignments/blob/main/rabbi_ds_assignment_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import pandas as pd
df = pd.read_csv("/content/sample_data/supershops.csv")

In [60]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [61]:
x = df.drop("Profit", axis=1) #drop Profit accept all

In [62]:
y = df["Profit"]

In [63]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Standard Scaler

In [64]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

In [65]:
df_ad = std.fit(df[['Administration']])

In [66]:
df_ad

StandardScaler()

In [67]:
df.Administration = std.transform(df[['Administration']])

In [68]:
#df.head(10)

In [69]:
df.Transport = std.fit_transform(df[['Transport']])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61        0.560753   2.165287    Dhaka  192261.83
1        162597.70        1.082807   1.929843      Ctg  191792.06
2        153441.51       -0.728257   1.626191  Rangpur  191050.39
3        144372.41       -0.096365   1.417348    Dhaka  182901.99
4        142107.34       -1.079919   1.273550  Rangpur  166187.94

# LOOP Standard Scaler

In [70]:
std = StandardScaler()

for column in x.columns:
  if x.dtypes[column] != object:    
    x[column] = std.fit_transform(x[[column]]) 
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

# MinMax Scaler

In [71]:
from sklearn.preprocessing import MinMaxScaler
Min_Max_Scaler = MinMaxScaler()

x.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

In [72]:
df['Marketing Spend'] = Min_Max_Scaler.fit_transform(df[['Marketing Spend']])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.560753   2.165287    Dhaka  192261.83
1         0.983359        1.082807   1.929843      Ctg  191792.06
2         0.927985       -0.728257   1.626191  Rangpur  191050.39
3         0.873136       -0.096365   1.417348    Dhaka  182901.99
4         0.859438       -1.079919   1.273550  Rangpur  166187.94

# Loop

In [73]:

for column in x.columns:
  if x.dtypes[column] != object:
    x[column] = Min_Max_Scaler.fit_transform(x[[column]])

x.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

# Max Absolute Scaler

In [74]:
from sklearn.preprocessing import MaxAbsScaler

max_scale = MaxAbsScaler()
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.560753   2.165287    Dhaka  192261.83
1         0.983359        1.082807   1.929843      Ctg  191792.06
2         0.927985       -0.728257   1.626191  Rangpur  191050.39
3         0.873136       -0.096365   1.417348    Dhaka  182901.99
4         0.859438       -1.079919   1.273550  Rangpur  166187.94

In [75]:
df['Transport'] = max_scale.fit_transform(df[['Transport']])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.560753   1.000000    Dhaka  192261.83
1         0.983359        1.082807   0.891264      Ctg  191792.06
2         0.927985       -0.728257   0.751028  Rangpur  191050.39
3         0.873136       -0.096365   0.654577    Dhaka  182901.99
4         0.859438       -1.079919   0.588166  Rangpur  166187.94

# Loop

In [76]:
for column in x.columns:
  if x.dtypes[column] != object:
    x[column] = max_scale.fit_transform(x[[column]])

df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.560753   1.000000    Dhaka  192261.83
1         0.983359        1.082807   0.891264      Ctg  191792.06
2         0.927985       -0.728257   0.751028  Rangpur  191050.39
3         0.873136       -0.096365   0.654577    Dhaka  182901.99
4         0.859438       -1.079919   0.588166  Rangpur  166187.94

# Robust Scaler

In [77]:
from sklearn.preprocessing import RobustScaler
robus_scale = RobustScaler()
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.560753   1.000000    Dhaka  192261.83
1         0.983359        1.082807   0.891264      Ctg  191792.06
2         0.927985       -0.728257   0.751028  Rangpur  191050.39
3         0.873136       -0.096365   0.654577    Dhaka  182901.99
4         0.859438       -1.079919   0.588166  Rangpur  166187.94

In [78]:
df['Marketing Spend'] = robus_scale.fit_transform(df[['Marketing Spend']])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.560753   1.000000    Dhaka  192261.83
1         1.452113        1.082807   0.891264      Ctg  191792.06
2         1.303634       -0.728257   0.751028  Rangpur  191050.39
3         1.156567       -0.096365   0.654577    Dhaka  182901.99
4         1.119836       -1.079919   0.588166  Rangpur  166187.94

# Loop

In [79]:
for column in x.columns:
  if x.dtypes[column] != object:
    x[column] = robus_scale.fit_transform(x[[column]]) 

df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.560753   1.000000    Dhaka  192261.83
1         1.452113        1.082807   0.891264      Ctg  191792.06
2         1.303634       -0.728257   0.751028  Rangpur  191050.39
3         1.156567       -0.096365   0.654577    Dhaka  182901.99
4         1.119836       -1.079919   0.588166  Rangpur  166187.94