<a href="https://colab.research.google.com/github/rabbi303/Python_Assignments/blob/main/rabbi_ds_assignment_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
df = pd.read_csv("/content/sample_data/supershops.csv")

In [26]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [27]:
x = df.drop("Profit", axis=1) #drop Profit accept all

In [29]:
y = df["Profit"]

In [30]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Standard Scaler

In [31]:
'''from sklearn.preprocessing import StandardScaler
std = StandardScaler()'''

'from sklearn.preprocessing import StandardScaler\nstd = StandardScaler()'

In [32]:
'''df_ad = std.fit(df[['Administration']])'''

"df_ad = std.fit(df[['Administration']])"

In [33]:
#df_ad

In [34]:
#df.Administration = std.transform(df[['Administration']])

In [35]:
#df.head(10)

In [36]:
'''df.Transport = std.fit_transform(df[['Transport']])
df.head()'''

"df.Transport = std.fit_transform(df[['Transport']])\ndf.head()"

# LOOP Standard Scaler

In [37]:
'''std = StandardScaler()

for column in x.columns:
  if x.dtypes[column] != object:    
    x[column] = std.fit_transform(x[[column]]) 
x.head()'''

'std = StandardScaler()\n\nfor column in x.columns:\n  if x.dtypes[column] != object:    \n    x[column] = std.fit_transform(x[[column]]) \nx.head()'

# MinMax Scaler

In [38]:
'''from sklearn.preprocessing import MinMaxScaler
Min_Max_Scaler = MinMaxScaler()

x.head()'''

'from sklearn.preprocessing import MinMaxScaler\nMin_Max_Scaler = MinMaxScaler()\n\nx.head()'

In [39]:
'''df['Marketing Spend'] = Min_Max_Scaler.fit_transform(df[['Marketing Spend']])
df.head()'''

"df['Marketing Spend'] = Min_Max_Scaler.fit_transform(df[['Marketing Spend']])\ndf.head()"

# Loop

In [40]:
#Min_Max_Scale = Min_Max_Scaler()

'''for column in x.columns:
  if x.dtypes[column] != object:
    x[column] = Min_Max_Scaler.fit_transform(x[[column]])

x.head()'''

'for column in x.columns:\n  if x.dtypes[column] != object:\n    x[column] = Min_Max_Scaler.fit_transform(x[[column]])\n\nx.head()'

# Max Absolute Scaler

In [41]:
from sklearn.preprocessing import MaxAbsScaler

max_scale = MaxAbsScaler()
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [43]:
df['Transport'] = max_scale.fit_transform(df[['Transport']])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80   1.000000    Dhaka  192261.83
1        162597.70       151377.59   0.940893      Ctg  191792.06
2        153441.51       101145.55   0.864664  Rangpur  191050.39
3        144372.41       118671.85   0.812235    Dhaka  182901.99
4        142107.34        91391.77   0.776136  Rangpur  166187.94

# Loop

In [47]:
for column in x.columns:
  if x.dtypes[column] != object:
    x[column] = max_scale.fit_transform(x[[column]])

df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80   1.000000    Dhaka  192261.83
1        162597.70       151377.59   0.940893      Ctg  191792.06
2        153441.51       101145.55   0.864664  Rangpur  191050.39
3        144372.41       118671.85   0.812235    Dhaka  182901.99
4        142107.34        91391.77   0.776136  Rangpur  166187.94

# Robust Scaler

In [57]:
from sklearn.preprocessing import RobustScaler
robus_scale = RobustScaler()
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530       136897.80   1.000000    Dhaka  192261.83
1         1.452113       151377.59   0.940893      Ctg  191792.06
2         1.303634       101145.55   0.864664  Rangpur  191050.39
3         1.156567       118671.85   0.812235    Dhaka  182901.99
4         1.119836        91391.77   0.776136  Rangpur  166187.94

In [55]:
#df['Marketing Spend'] = robus_scale.fit_transform(df[['Marketing Spend']])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530       136897.80   1.000000    Dhaka  192261.83
1         1.452113       151377.59   0.940893      Ctg  191792.06
2         1.303634       101145.55   0.864664  Rangpur  191050.39
3         1.156567       118671.85   0.812235    Dhaka  182901.99
4         1.119836        91391.77   0.776136  Rangpur  166187.94

# Loop

In [60]:
for column in x.columns:
  if x.dtypes[column] != object:
    x[column] = robus_scale.fit_transform(x[[column]]) 

df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530       136897.80   1.000000    Dhaka  192261.83
1         1.452113       151377.59   0.940893      Ctg  191792.06
2         1.303634       101145.55   0.864664  Rangpur  191050.39
3         1.156567       118671.85   0.812235    Dhaka  182901.99
4         1.119836        91391.77   0.776136  Rangpur  166187.94